<main class="section-d documentation">
  <div class="container-d">
  <div class="columns-d is-desktop is-vcentered">
    <div class="column-d is-half-d">
      <h1>技術的な案内</h1>
      <p class="body-d">
        開発者向けの仕様とソフトウェアとライブラリ
      </p>
    </div>
    <div class="column-d is-half-d">
      <img src="/assets/developer.jpeg">
    </div>
  </div>
  </div>

<section class="section-d docs">
  <div class="container-d">
    <div class="columns-d">
      <div class="columns-d is-6">
        <h1>仕様</h1>
        <p class="body-d">
          このアプリケーションはあなたとあなたのパートナーの会話を漏洩しません。<br>
          
        </p>
      </div>
    </div>
  </div>

</section>





</main>