

<main role="main">
  <section class="section1 hero1">
    <div class="hero-inner">
      <h1>お困りですか？</h1>
      <div class="input-group">
      <%= text_field_tag :keyword, nil, class: "form-control", placeholder: "キーワードを入力" %>
      <div class="input-group-append">
      <button class="btn btn-outline-success" type="button" id="button-addon2">
      <i class="fas fa-search"></i> 検索
    </button>
  </div>
</div>
    </div>
    </section>


<div class="container-help">
  <section class="section-top knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">

        <li class="bloks-item">
          <a href="#" class="blocks-item-link">
            <h4 class="blocks-item-title">はじめに</h4>
            <p class="blocks-item-description">
              Mystikogram Android, IOS<br>
              利用方法についての説明
            </p>
          </a>
        </li>

        <li class="bloks-item">
          <a href="#" class="blocks-item-link">
            <h4 class="blocks-item-title">機能</h4>
            <p class="blocks-item-description">
              プライバシーを保ちながら豊富な<br>
              機能を持ったアプリケーション
            </p>
          </a>
        </li>

        <li class="bloks-item">
          <a href="#" class="blocks-item-link">
            <h4 class="blocks-item-title">セキュリティ</h4>
            <p class="blocks-item-description">
              あなたとパートナーの秘密の会話を守ります
            </p>
          </a>
        </li>

        <li class="bloks-item">
          <a href="#" class="blocks-item-link">
            <h4 class="blocks-item-title">トラブルシューティング</h4>
            <p class="blocks-item-description">
            </p>
          </a>
        </li>

        <li class="bloks-item">
          <a href="#" class="blocks-item-link">
            <h4 class="blocks-item-title">概要</h4>
            <p class="blocks-item-description">
            </p>
          </a>
        </li>

      </ul>

  </section>
</div>





</main>