/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* .sticky-header {*/
/*  position: fixed;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 9999;*/
/*}*/

/*.sticky-footer {*/
/*  position: fixed;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  z-index: 9999;*/
/*}*/


 li {
   list-style: none;
 }

a:hover {
  background-color: transparent;
}

.nav-item {
  font-size: 16px;
}

.nav-item a:hover {
  color: blue;
}

.hero .hero-main {

  color: #1b1b1b;
  max-height: 760px;
  display: flex;
}



.container {
  margin: 0 auto;
  position: relative;
  width: auto;
}





.columns h1 {
  font-size: 60px;
  font-weight: 800;
  line-height: 64px;
  margin-top: 150px;
}

.body1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 25px;
}

.topimage {
  width: 45%;
  height: auto;

}

.hero-main .mobile-screenshots {
  position: relative;
}



.columns .is-two-fifths {
  flex: none;
  width: 40%;
}

.column {
  display: flex;
  padding: 12px;
}

.hero-body {
  background-color: #9DBBF8;
  height: 600px;
}

.topimage {
  width: 50%;
  height: auto;
  margin-top: 50px;
  margin-left: 150px;
}

.column .is-centered {
  justify-content: center;
}

.has-text-centered {
  text-align: center;
}

.has-text-centered h2 {
  font-size: 45px;
  font-weight: 800;
}

.section {
  padding: 48px 24px;

}

section {
  display: block;
}

.section.features {
  background-color: #F6F6F6;
}

img {
  height: auto;
  max-width: 100%;
}

.section.features h3 {
  color: #1b1b1b;
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  margin-top: 18px;
  margin-bottom: 4px;
}

.section .features .box {
  background-color: #ffffff;
  border-radius: 16px;
  height: 100%;
  padding: 30px;
  box-shadow: 0px 4px 12px raba(0,0,0,0,12),
  0px 0px 2px raba(0,0,0,0,8);
}

.column .is-half {
  flex: none;
  width: 50%;
}

.is-one-third {
  width: 33.333%;
}

.column .is-desktop {
  display: flex;
}

.column .is-one-third h2 {
  font-size: 40px;
  font-weight: 880;
  line-height: 44px;
}

.hero1 {
  width: 100%;
  height: 400px;
  padding: 0 20px;
  text-align: center;
  background-size: cover;
  background-color: #9DBBF8;

}

.hero-inner {
  position: relative;
  top: 50%;
  max-width: 610px;
  margin: 0 auto;
  transform: translateY(-50%);
}

.hero-inner h1 {
  font-size: 50px;
  font-weight: 800;
  line-height: 44px;
  padding-bottom: 20px;
}

.container-help {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
}

.blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

.blocks-item {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 340px;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  text-align: center;

}

.blocks-item-link {
  color: rgba(27, 27, 27, 1);
  height: 100%;
  padding: 20px 30px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.12), 0px 0px 2px rgba(0,0,0,0.08);
  border: 1px solid #fff;
  border-radius: 8px;
  text-decoration: none;

}

.blocks-item-title h4 {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
}

.blocks-item-discription {
  margin: 10px 0 0 0;
  font-weight: 300;

}

.container-divider {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

.container-contact {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;

}

.sub-nav {
  aline-items: baseline;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  min-height: 50px;
  padding-bottom: 15px;
}

.breadcrumbs {
  margin: 30px 0 0 0;
  padding: 0;
}

.breadcrumbs li {
  color: #4e4e4e;
  display: inline;
  font-weight: 300;
  font-size: 13px;
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;

}


/*ここからdeveloperページ*/

.documentation {
  background-color: #f6f6f6;
  margin: 12px 40px 0 0 ;
  padding-bottom: 0;
  padding-top: 0;
}

.container-d {
  margin: 0 auto;
  position: relative;
  width: auto;
}

.columns-d {
  margin: 12px 0 12px 12px;

}

.column-d {
  display: block;
  padding: 12px;
}

